@model ShopApp.WEBUI.Models.UserDetail
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<h1 class="h3">EditRole</h1>
<body>
    <p>@ViewBag.Result</p>
</body>
<form asp-controller="Admin" asp-action="UserEdit" method="post">
    <div class="row">
        <div class="col-md-12">


            <input type="hidden" name="UserId" value="@Model.UserId" />
            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="UserName">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="FirstName">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="LastName">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="Email">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10 offset sm-2">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @foreach (var rolename in ViewBag.Roles)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="selectedRoles" value="@rolename" id="@rolename"
                           @(Model.SelectedRoles.Any(i => i == rolename) ? "checked" : "") />
                    <label class="custom-control-label" for="@rolename">@rolename</label>

                </div>

            }
            <hr />
            <div class="custom-control custom-checkbox">
                <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input" />
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
                

            </div>


            </div>


        </div>
</form>
 








